body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1a1a1a; /* warna latar belakang gelap */
    color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.content {
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #f5f6f7;
    margin-bottom: 30px;
}

button {
    background-color: #ff5c5c;
    color: white;
    border: none;
    padding: 10px 25px;
    font-size: 16px;
